$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$button: #38AEF0;
$right_group_name: #333;
$right_member_name: #999;
$right_border: #ddd;
$message_user: #434A54;
$message_date: #999999;
$message_text: #434A54;
$form_background: #ddd;
$new_message_text: #434A54;
$alert_success: #38AEF0;
$alert_failure: #F35500;
$alert_font_color: #fff;
