$side_group_name:15px;
$side_message_text:11px;


$header-group_name: 20px;
$header-group_member: 12px;
$message_user: 16px;
$font_message_date: 12px;
$font_message_text: 14px;
$font_new_message_text: 16px;
$font_new_message_label: 1.3rem;
