.side-bar{
  float: left;
  box-sizing: border-box;
  width: 300px;
  .header{
    height: 100px;
    background-color: $side_blue_dark;
    color: $white;
    padding: 0 20px;
    line-height: 100px;
    display: flex;
    justify-content: space-between;
    &__name{
      font-weight: bold;
      }
    &__lists{
      display: flex;
      .list{
        margin: 0 5px;
        i{
          color:$white;
        }
      }
    }
  }
  .groups{
    overflow: scroll;
    background-color: $side_blue_light;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group{
      box-sizing: border-box;
      padding: 20px 0 ;
      &__name{
        font-size: $side_group_name;
        color: $white;
      }
      &__message{
        margin-top: 5px; 
        font-size: $side_message_text;
        font-weight: bold;
        color: $white;
      }
    }
  }
}
